# Compiled class files
*.class

# NetBeans specific
nbproject/private/
build/
dist/
nbdist/
.nb-gradle/
.github/instructions/

# Package Files
*.jar
*.war
*.ear
*.zip

# OS specific
.DS_Store
Thumbs.db
